body
{
    margin-left: 20%;
    margin-right: 20%;
}

header
{
    background-color: black;
    margin-bottom: 10px;
}

main
{
background-color: black;
}
h3
{
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    text-align: center;
}

.logo
{
    display: block;
    margin: auto;
}

.portada
{
    display: block;
    margin: auto;
}

h1
{
    color: white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
}

p
{
    color: white;
    text-align: center;
    font-size: small;
}

h4
{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.button
{
    display: block;
    color: white;
    text-align: center;
    background-color: rgb(170, 0, 0);
    margin-left: 35%;
    margin-right: 35%;
    border: solid;
    border-width: 1px;
    border-color: yellow;
    margin-bottom: 20PX;
    text-decoration:none ;
}


.separation
{
    width: 27%;
    display: block;
    margin: auto;
}

.video
{
    width: 560px;
    height: 260px;
    border-width: 1px;
    border: solid;
    border-color:yellow ;
    margin-left: auto;
    margin-right: auto;
}

.button2
{
    display: block;
    color: white;
    text-align: center;
    background-color: rgb(170, 0, 0);
    margin-left: 35%;
    margin-right: 35%;
    border: solid;
    border-width: 1px;
    border-color: yellow;
    margin-bottom: 30PX;
    margin-top: 30px;
    text-decoration: none;
}

.logo3
{
    border: solid;
    border-top: 1px;
    border-bottom: 1px ;
    border-color: white;
    
}

.divlogo
{
    display: block;
    background-color: black;
    width: 100%;
    text-align: center;
    margin: auto;
}

.final
{
    color: black;
    text-align: left;
    text-size-adjust: small;
}

.footer{
    color: black;
    text-decoration: none;
}
.azul
{
    color: blue;
    text-align: left;
    
}