h1
{
    text-align: center;
    margin-top: 10px;
}

.PC
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main
{
    background-image: url(./imagenes/fondo.jpg);
}

.pantalla
{
    text-align: center;
    color: white;
}